@import 'theme';

#projects-container {

}

$thumbnail-size: 130px;

.project-item-container {
    cursor: pointer;
    border-radius: 5px;
    transition: background-color ease 0.2s;
    padding: 10px;

    &:hover {
        background-color: $secondary-gray;
    }

    .heading {
        font-family: $title-font;
        font-size: 18px;  
        
        display: -webkit-box;        
        line-clamp: 2;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .title {
        position: relative;
        
        .heading {
            font-family: $title-font;
            font-size: 18px;  
            
            display: -webkit-box;        
            line-clamp: 2;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }

        .subheading {
            font-size: 16px;
            color: $secondary-light;

            display: -webkit-box;        
            line-clamp: 4;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;

            &.tags {
                font-size: 12px;
                position: absolute;
                bottom: 0;
                line-clamp: 1;
                -webkit-line-clamp: 1;
            }
        }
    }
}

.project-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow: hidden;
    //border-bottom: 1px solid $secondary-gray;

    .project-preview {
        display: flex;
    }
}

.date {
    color: $secondary-light;
    font-size: 12px;
}

.thumbnail {
    margin-right: 10px;

    &.mobile {
        margin-right: 0px;
        width: 100%;
    }
}

