

body {
  margin: 20px;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(40, 40, 40);
  background-color: rgb(238, 238, 238);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: 'Montserrat';
  font-weight: 100;
  padding-bottom: 5px;
  border-bottom: 3px solid #00274c;
}

h2 {
  font-family: 'Montserrat';
  font-weight: 100;
}

h3 {
  font-family: 'Montserrat';
  font-weight: 100;
}

h4 {
  font-family: 'Montserrat';
  font-weight: 100;
}
